<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="YarraTrams.Havm2TramTracker.Models.Properties.Settings.TramTrackerConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=TramTracker;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>