<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YarraTrams.Havm2TramTracker.Models.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="YarraTrams.Havm2TramTracker.Models.Properties.Settings.TramTrackerConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=TramTracker;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <YarraTrams.Havm2TramTracker.Models.Properties.Settings>
            <setting name="VehicleGroupsWithLowFloor" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>c</string>
                        <string>d1</string>
                        <string>d2</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="VehicleGroupsWithoutLowFloor" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>a</string>
                        <string>b</string>
                        <string>c1</string>
                        <string>c2</string>
                        <string>car</string>
                        <string>e</string>
                        <string>e1</string>
                        <string>l</string>
                        <string>taxi</string>
                        <string>w</string>
                        <string>z</string>
                        <string>z3</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DepotFirstChacterMapping" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>cw,v</string>
                    </ArrayOfString>
                </value>
            </setting>
        </YarraTrams.Havm2TramTracker.Models.Properties.Settings>
    </applicationSettings>
</configuration>