<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YarraTrams.Havm2TramTracker.SideBySideTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="YarraTrams.Havm2TramTracker.SideBySideTests.Properties.Settings.TramTrackerExisting"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=TramTrackerLiveCopy;Integrated Security=True" />
        <add name="YarraTrams.Havm2TramTracker.SideBySideTests.Properties.Settings.TramTrackerNew"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=TramTracker;Integrated Security=True" />
    </connectionStrings>
    <applicationSettings>
        <YarraTrams.Havm2TramTracker.SideBySideTests.Properties.Settings>
            <setting name="FilePathForResults" serializeAs="String">
                <value>E:\</value>
            </setting>
        </YarraTrams.Havm2TramTracker.SideBySideTests.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
