<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="YarraTrams.Havm2TramTracker.SideBySideTests.Properties.Settings.TramTrackerExisting"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=TramTracker;Integrated Security=True" />
        <add name="YarraTrams.Havm2TramTracker.SideBySideTests.Properties.Settings.TramTrackerNew"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=TramTracker;Integrated Security=True" />
    </connectionStrings>
</configuration>