<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="YarraTrams.Havm2TramTracker.Processor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <YarraTrams.Havm2TramTracker.Processor.Properties.Settings>
            <setting name="TramTrackerDB" serializeAs="String">
                <value>Data Source=localhost\SQLEXPRESS;Persist Security Info=False;Asynchronous Processing=true;max pool size=500;User ID=avmis;Password=avmis;database=TramTracker;</value>
            </setting>
            <setting name="Havm2TramTrackerAPI" serializeAs="String">
                <value>http://localhost:49467/tramtracker/</value>
            </setting>
            <setting name="Havm2TramTrackerAPITimeoutSeconds" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>C:\Users\iop\Downloads\temp\HAVM2TTLogs</value>
            </setting>
            <setting name="LogT_Temp_TripRowsToFilePriorToInsert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogT_Temp_SchedulesRowsToFilePriorToInsert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogT_Temp_SchedulesMasterRowsToFilePriorToInsert"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogT_Temp_SchedulesDetailsRowsToFilePriorToInsert"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DbTableSuffix" serializeAs="String">
                <value />
            </setting>
            <setting name="DBCommandTimeoutSeconds" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="MaxCopyToLiveRetryCount" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="GapBetweenCopyToLiveRetriesInSecs" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxGetDataFromHavm2RetryCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="GapBetweenGetDataFromHavm2RetriesInSecs" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="NumberOfPredictionsPerTripStop" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="NumberDailyTimetablesToRetrieve" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="LogFilePathMaxSizeInBytes" serializeAs="String">
                <value>10000000000</value>
            </setting>
            <setting name="LogFilePathWarnSizeInBytesExceedsInBytes" serializeAs="String">
                <value>9000000000</value>
            </setting>
            <setting name="CheckTomorrowsAvmTimetableRevisionDueTime" serializeAs="String">
                <value>19:55:00</value>
            </setting>
            <setting name="AvmLogFileFtpServerAddress" serializeAs="String">
                <value>ftp://speedtest.tele2.net/</value>
            </setting>
            <setting name="AvmLogFileFtpServerUsername" serializeAs="String">
                <value>anonymous</value>
            </setting>
            <setting name="AvmLogFileFtpServerPassword" serializeAs="String">
                <value>anonymous</value>
            </setting>
            <setting name="AvmLogFileFtpDirectoryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AvmLogFileName" serializeAs="String">
                <value>MyFile.zip</value>
            </setting>
            <setting name="AvmLogFileArchivePath" serializeAs="String">
                <value>C:\Users\iop\Downloads\temp\HAVM2TTLogs</value>
            </setting>
        </YarraTrams.Havm2TramTracker.Processor.Properties.Settings>
    </applicationSettings>
</configuration>
