<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="YarraTrams.Havm2TramTracker.Processor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <YarraTrams.Havm2TramTracker.Processor.Properties.Settings>
            <setting name="TramTrackerDB" serializeAs="String">
                <value/>
            </setting>
            <setting name="Havm2TramTrackerAPI" serializeAs="String">
                <value/>
            </setting>
            <setting name="Havm2TramTrackerAPITimeoutSeconds" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>C:\Users\iop\Downloads\temp\HAVM2TTLogs</value>
            </setting>
            <setting name="LogT_Temp_TripRowsToFilePriorToInsert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogT_Temp_SchedulesRowsToFilePriorToInsert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogT_Temp_SchedulesMasterRowsToFilePriorToInsert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogT_Temp_SchedulesDetailsRowsToFilePriorToInsert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DbTableSuffix" serializeAs="String">
                <value>_TTBU</value>
            </setting>
            <setting name="DBCommandTimeoutSeconds" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="MaxCopyToLiveRetryCount" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="GapBetweenCopyToLiveRetriesInSecs" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxGetDataFromHavm2RetryCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="GapBetweenGetDataFromHavm2RetriesInSecs" serializeAs="String">
                <value>30</value>
            </setting>
        </YarraTrams.Havm2TramTracker.Processor.Properties.Settings>
    </applicationSettings>
</configuration>
