<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YarraTrams.Havm2TramTracker.Logger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="YarraTrams.Havm2TramTracker.Processor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="YarraTrams.Havm2TramTracker.Models.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <applicationSettings>
        <YarraTrams.Havm2TramTracker.Logger.Properties.Settings>
            <setting name="MajorEscalationThresholdMinutes" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="MajorEscalationEventBaseCode" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="MajorEscalationCodesCsv" serializeAs="String">
                <value></value>
            </setting>
        </YarraTrams.Havm2TramTracker.Logger.Properties.Settings>
        <YarraTrams.Havm2TramTracker.Processor.Properties.Settings>
            <setting name="TramTrackerDB" serializeAs="String">
                <value>Data Source=PRD-TTR-LIS-01\PRD;Persist Security Info=False;max pool size=500;Integrated Security=true;database=tramtracker_inoutput;</value>
            </setting>
            <setting name="Havm2TramTrackerAPI" serializeAs="String">
                <value>http://PRD-HVM-APP-01/timetable-api/tramtracker</value>
            </setting>
            <setting name="Havm2TramTrackerAPITimeoutSeconds" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="DBCommandTimeoutSeconds" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>E:\LOGS\havm2tramtracker</value>
            </setting>
            <setting name="LogT_Temp_TripRowsToFilePriorToInsert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogT_Temp_SchedulesRowsToFilePriorToInsert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogT_Temp_SchedulesMasterRowsToFilePriorToInsert"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogT_Temp_SchedulesDetailsRowsToFilePriorToInsert"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyTodaysDataToLiveDueTime" serializeAs="String">
                <value>02:59:00</value>
            </setting>
            <setting name="RefreshTempWithTomorrowsDataDueTime" serializeAs="String">
                <value>20:35:00</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>D:\LOGS\havm2tramtracker</value>
            </setting>
            <setting name="LogSQLToFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DbTableSuffix" serializeAs="String">
                <value></value>
            </setting>
            <setting name="MaxCopyToLiveRetryCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="GapBetweenCopyToLiveRetriesInSecs" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MaxGetDataFromHavm2RetryCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="GapBetweenGetDataFromHavm2RetriesInSecs" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="NumberOfPredictionsPerTripStop" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="NumberDailyTimetablesToRetrieve" serializeAs="String">
                <value>7</value>
            </setting>
        </YarraTrams.Havm2TramTracker.Processor.Properties.Settings>
        <YarraTrams.Havm2TramTracker.Models.Properties.Settings>
            <setting name="VehicleGroupsWithLowFloor" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>c</string>
                        <string>d1</string>
                        <string>d2</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="VehicleGroupsWithoutLowFloor" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>a</string>
                        <string>b</string>
                        <string>c1</string>
                        <string>c2</string>
                        <string>car</string>
                        <string>e</string>
                        <string>e1</string>
                        <string>l</string>
                        <string>taxi</string>
                        <string>w</string>
                        <string>z</string>
                        <string>z3</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DepotFirstChacterMapping" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>cw,v</string>
                    </ArrayOfString>
                </value>
            </setting>
        </YarraTrams.Havm2TramTracker.Models.Properties.Settings>
    </applicationSettings>
</configuration>