<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YarraTrams.Havm2TramTracker.Logger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <YarraTrams.Havm2TramTracker.Logger.Properties.Settings>
            <setting name="MajorEscalationThresholdMinutes" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="MajorEscalationEventBaseCode" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="MajorEscalationCodesCsv" serializeAs="String">
                <value>1000</value>
            </setting>
        </YarraTrams.Havm2TramTracker.Logger.Properties.Settings>
    </applicationSettings>
</configuration>